* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 237, 237);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: #131921;
  --font-base: "Montserrat", sans-serif;
  --font-alt: "Playfair Display", serif;
  --alt-color: rgb(255 255 255 / 95%);
  --bg-dark: #191919;
  --bg-dark2: #142a2e;
  --main-transition: .3s;
  --btn-color: #ffdb7e;
  --btn-color-hover: #e4b130;
  ;
}

a {
  text-decoration: none;
}

.titleOfSwiper {
  margin-left: 20px;
  color: var(--main-color);
}

.swiper {
  /* box-sizing: border-box; */
  width: calc(100vw - 3rem);
  margin-left: -0.2rem;
}

.swiper-slide,
.swiper-slide-active {
  min-height: 100%;
  width: 100%;
}

.sw {
  margin-left: 0;
  margin-bottom: 1rem;
}

.sw .swiper-slide .product {
  box-shadow: 0px 0 1px 0px var(--bg-dark);
}

@media screen and (max-width:767px) {
  .swiper {
    width: calc(100vw - 1.7rem);
  }

  .swiper-slide,
  .swiper-slide-active {
    min-height: 100%;
    width: 100%;
    margin-right: 0.8rem;
  }

  /* .forYou {
    display: none;
  } */
}

*::-webkit-scrollbar {
  background-color: white;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #E9EDF1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, var(--main-color), white, var(--main-color));
  ;
}

@media screen and (max-width:400px) {
  .swiper {
    width: calc(100vw - .7rem);
  }
}